*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedor{
    display: grid;
    grid-template-areas: "header header header"
                         "main   main   main"
                         "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto; */
    padding: 0;
   
}




@import "./header";
@import "./main";